<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="Interval" value="0 0 13 * * ?" />-->
		<add key="Interval" value="0 0/5 * * * ?" />
		<add key="Reports" value="Sales Report,Stock Report" />
		<add key="FromMail" value="varsjacob@gmail.com"/>
		<!--<add key="CC_Mail" value="sathishkumarr21@gmail.com"/>-->
		<add key="CC_Mail" value=""/>
		<add key="BCC_Mail" value=""/>
		<add key="ToMail" value="sathishkumarr2168@gmail.com"/>
		<add key="Password" value="goqvzhsvdxesivyr"/>
		<add key="Host" value="smtp.gmail.com"/>
	</appSettings>
</configuration>